<!doctype html>
<html lang="en">
  <head>
  	<title>Practica semana 7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">Proyectos</a></h1>
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a href="../index.html"><span class="fa fa-home mr-3"></span> Inicio</a>
          </li>
          <li>
              <a href="trabajos.html"><span class="fa fa-sticky-note mr-3"></span> Trabajos</a>
          </li>
          <li>
            <a href="proyectos.html"><span class="fa fa-sticky-note mr-3"></span> Proyectos</a>
          </li>
          <li>
            <a href="servicios.html"><span class="fa fa-sticky-note mr-3"></span> Servicios</a>
          </li>
          <li>
            <a href="contacto.html"><span class="fa fa-paper-plane mr-3"></span> Contactos</a>
          </li>
        </ul>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
      <h2 class="mb-4">Nuestros proyectos</h2>
      <div class="container">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img src="../img/chatbot.jpg" class="card-img-top img-proyectos" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Chatbot</h5>
                  <p class="card-text">Uno de nuestros proyectos actuales es el desarrollo de un chatbot con diferentes funciones. Buscamos proveer información de productos y dar respuestas a las inquietudes de los clientes de forma automática.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/traductor.jpg" class="card-img-top img-proyectos" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Traductor</h5>
                  <p class="card-text">Estamos desarrolando un traductor, actualmente estamos trabajando con la versión web y móvil para asegurarnos de llegar a más personas independientemente del dispositivo que utilicen.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="../img/clinica.jpg" class="card-img-top img-proyectos" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Clínica</h5>
                  <p class="card-text">Hemos desarrollado un sistema de gestión para una clínica, la cual permite administrar doctores, pacientes, citas, medicamentos y más. Sin duda alguna es uno de nuestros mejores trabajos.</p>
                </div>
              </div>
            </div>
          </div>
        <br>
        <!-- Bottom content -->
        <div class="card text-center">
          <div class="card-header">
            Team work
          </div>
          <div class="card-body">
            <h5 class="card-title">En un futuro cercano...</h5>
            <p class="card-text">Como equipo buscamos ser líderes en el desarrollo de solucions tecnológicas. Por medio del uso de diferentes herramientas y conocimiento buscamos impactar de la mejor forma posible.</p>
            <a href="#" class="btn btn-primary">DevNation</a>
          </div>
          <div class="card-footer text-body-secondary">
            2023
          </div>
        </div>
      </div>
      </div>
		</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>