<!doctype html>
<html lang="en">
  <head>
  	<title>Practica semana 7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/servicios.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">Servicios</a></h1>
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a href="../index.html"><span class="fa fa-home mr-3"></span> Inicio</a>
          </li>
          <li>
              <a href="trabajos.html"><span class="fa fa-sticky-note mr-3"></span> Trabajos</a>
          </li>
          <li>
            <a href="proyectos.html"><span class="fa fa-sticky-note mr-3"></span> Proyectos</a>
          </li>
          <li>
            <a href="servicios.html"><span class="fa fa-sticky-note mr-3"></span> Servicios</a>
          </li>
          <li>
            <a href="contacto.html"><span class="fa fa-paper-plane mr-3"></span> Contactos</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Nuestros Servicios</h2>
        
        <div class="service" id="servicio1">
            <img src="../img/desarrollo.jpg" alt="Servicio 1">
            <h2>Desarrollo de software</h2>
            <p class="description">La nube optimiza trabajo y recursos en el desarrollo de software, ya que 
              favorece la reducción de la carga de trabajo del personal respecto a tareas técnicas, así como
               proporciona una mayor concentración en la gestión del negocio, reduciendo el esfuerzo y los
                recursos necesarios para administrar sistemas TIC.</p>
        </div>
        <div class="service" id="servicio2">
            <img src="../img/servicio.jpg" alt="Servicio 2">
            <h2>Infraestructura como servicio </h2>
            <p class="description">Las empresas se ahorran en infraestructura y pagan por lo que consumen.
               Uno de los ejemplos más destacados es AWS, que alquila potencia informática
               por hora y almacenamiento de datos por gigabyte. Sus servicios m utilizados: son S3 y EC2.
               S3 (Simple Storage Service) es un servicio de almacenamiento
               remoto con el que los desarrolladores pueden almacenar información ilimitada y tener un control
               sobre ésta.</p>
        </div>
        <div class="service" id="servicio3">
            <img src="../img/nube.jpg" alt="Servicio 3">
            <h2>Procesamiento de datos en la nube</h2>
            <p class="description">Los servicios en la nube relacionados con Big Data impulsan el procesamiento
               de los datos de una compañía a la hora de extraer conocimiento y mejorar su propuesta de valor
                a clientes y procesos internos.</p>
        </div>
        <div class="service" id="servicio3">
          <img src="../img/web.jpg" alt="Servicio 3">
          <h2>Hospedaje web</h2>
          <p class="description">a menudo, las organizaciones emplean la infraestructura como servicio (IaaS)
            para el hospedaje web con el fin de poder equilibrar la carga de tráfico a través de varios servidores,
             así como para ampliar o reducir recursos de forma rápida y automática a medida que fluctúa el tráfico.</p>
      </div>
      </div>
		</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/servicios.js"></script>
  </body>
  <footer>
    <div id="copyright">
        &copy; 2023. Todos los derechos reservados.
    </div>
</footer>
</html>